<html ng-app="diwApp" ng-controller="baseCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link href="../css/maestro.css" type="text/css" rel="stylesheet" media="screen">
		<title>{{ tituloAventura }}</title>
	</head>

	<body>
		<section>
			<div class="container" ng-show="vivo == 1">
				<span class="titulo">DARKNESS IS WAITING</span>
				<br/>
				<span class="subtitulo">THE CURSED CAVE</span>
				<br/>
				<div class="row">
					<p id="comienza">COMIENZA EL JUEGO... ACÁBALO SI PUEDES</p>
					<br/>
					<p>Te despiertas en una cueva sin recordar nada. Te encuentras en un claro de luz que es arrojada desde un agujero en el techo, el cual está demasiado alto para alcanzarlo. A tu lado solo tienes una antorcha, pero hay demasiada luz para encontrarle utilidad, no te serviría...¿O tal vez sí? Tú decides, es tu vida.</p>
					<div class="col-md-6 pull-left">
						<img src="../Fotos/cueva.jpg" style="width: 470px; height: 300px;" />
					</div>
					<div class="col-md-6 pull-right">
						<img src="../Fotos/antorcha.jpg" style="width: 250px; height: 300px;" />
					</div>
				</div>
				<div class="row">
					<table class="opciones" align="center">
						<tr>
							<td>
								<a ng-click="muerte(1,'Has muerto')">Intentar alcanzar la salida de la cueva por el agujero.</a>
							</td>
						</tr>
						<tr>
							<td>
								<a ui-sref="../Esp/P1Esp.html">Coger la antorcha y explorar la cueva.</a>
							</td>
						</tr>
						<tr>
							<td>
								<a ng-click="muerte(2)">Ignorar la antorcha y explorar la cueva</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="container">
				<div ng-show="muerteNum == '1'">
					<span class="subtitulo">LO SIENTO</span>
					<br/>
					<img src="../Fotos/cueva.jpg" style="width: 470px; height: 300px;" />
					<p>
						Al intentar escalar, tropiezas con una piedra, caes al vacío y mueres irremediablemente. Nadie te recordará, salvo los insectos que devorarán tu cadáver, dándose un festín digno de un rey.
					</p>
					<br/>
					<h1><a ng-click="resucitar()" class="resucitar">RESUCITAR</a></h1>
				</div>

				<div ng-show="muerteNum == '2'">
					<span class="subtitulo">OOOOPS!</span>
					<br/>
					<br/>
					<p>
						Vaya, parece que has entrado en un túnel totalmente oscuro, y cuando avanzaste unos pasos, alguien (o algo) se te lanzó a tu espalda y, a pesar de tus inútiles esfuerzos y tus gritos de niña de cinco años, tus brazos y piernas acabaron por separarse de tu feo cuerpo...
					</p>
					<br/>
					<h1><a ng-click="resucitar(1)" class="resucitar">RESUCITAR</a></h1>
				</div>
			</div>
		</section>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
		<script src="../angular/app.js"></script>
	</body>
</html>