<html ng-app="diwCookieApp" ng-controller="CookieCtrl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<title>Pruebas con ngCookies</title>
	</head>

	<body>
		<form name="soloEstilo" method="POST">
			<fieldset>
				<legend>Esta parte no lleva hace nada con las cookies</legend>
				<input type="text" ng-model="textoIntroducido"><span>Introduce texto que cargar en visor</span>
				<br/>
				<input type="text" ng-model="textoVer"><button ng-click="verTexto()">verTexto</button>
			</fieldset>

			<fieldset>
				<legend>Aquí van las cookies</legend>
				<input type="text" ng-model="cookieCargada"><button ng-click="guardarCookie()">Pulsa para guardar en cookie</button>
				<br/>
				<input type="text" ng-model="cookieLeida"><button ng-click="cargarCookie()">verTexto</button>
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
		<script src="cookies.js"></script>
	</body>
</html>
